{% load static %}
<!-- <aside class="main-sidebar sidebar-dark-primary elevation-1"> -->
<aside class="main-sidebar sidebar-dark-primary elevation-2 " style="position: fixed;">
    <a href="" onclick="" class="brand-link bg-dark">
        <img src="{% static "dist/img/Axel.png" %}" alt="Axel Logo" class="brand-image img-circle elevation-1" 
            style="opacity: .9">
        <span class="brand-text font-weight-heavy"><span style="font-size: 17px;"><b>POS</b></span> axel</span>
    </a>
    <!-- <div class="sidebar-header">
        <h1>Navigation</h1>
    </div> -->
    <div class="sidebar">
        

        <nav class="mt-1">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-flat" data-widget="treeview" role="menu" data-accordion="false">
              <!-- <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-flat" data-widget="treeview" role="menu" data-accordion="true"> -->
      
                <li class="nav-item has-treeview" id="sb_otherinfo">
                    <a href="#" class="nav-link" id="sb_otherinfo_b">
                    <i class="nav-icon fas fa-toolbox"></i>
                    <p>Stocks<i class="right fas fa-angle-left  "></i></p> 
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-tasks"></i>
                                <p>Stock List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/items" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-tachometer-alt-slow"></i>
                                <p>Set Opening Stock</p>
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-sliders-h"></i>
                                <p>Stock Adjustment</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-luggage-cart"></i>
                                <p>Purchase</p>
                            </a>
                        </li>  
                        
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-tags"></i>
                                <p>Charges</p>
                            </a>
                        </li>
                    </ul>

                </li>
        
                
                <li class="nav-item has-treeview" id="sb_materials">
                    <a href="#" class="nav-link" id="sb_materials_b">
                        <i class="nav-icon fal fa-shopping-basket"></i>
                        <p>POS</p>
                    </a>                   
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-truck-loading"></i>
                        <p>Supplier</p>
                    </a>
                </li>

                <li class="nav-item has-treeview" id="sb_materials">
                    <a href="#" class="nav-link" id="sb_materials_b">
                        <i class="nav-icon fas fa-print"></i>
                        <p>Report<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-ship"></i>
                                <p>Stock Report</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="" class="nav-link" id="sb_itemindex"><i class="nav-icon fal fa-tags"></i>
                                <p>Sales Report</p>
                            </a>
                        </li>
                    </ul>
                </li>               

            </ul>
        </nav>     
    </div>
</aside>


<script>
    // $(document).ready(function () {
    //     $('#ulExpCol_1').collapse('toggle');
    // });
</script>