{% extends "base/base.html" %}

{% block header %}
{% include 'base/header.html' %}
{% endblock header %}

{% block content %}


<style>
    div.padding {    
        padding: 8px;   
    }

          
</style>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 row center">
          <div class="col-sm-1.5 mr-2">
          </div>
        </div>

      </div>
    </div>
    
    <section class="content">
      
      <div class="row">       
        <div class="col">

          <div class="card mt-2 text-xs-center">
            <div class="card-header container-fluid " style ="background-color:rgb(65, 126, 240);  padding: 2px;" >
              <div class="row">    
                  
                <div class="col-sm-1.5 ml-4 mt-1">
                    <a style="font-size: 20px; color:white"> Add Item</a>
                </div>            

                <div class="col row d-flex justify-content-end padding mr-2">                                  
                  <div class="card-tools">                    
                    <div class="btn-group mb-1 ">
                        <button type="button" class="btn btn-tool float-right ">
                        <a onclick='document.forms["myform"].submit(); return false;' href="#"><b class="btn fa fa-check " style="background-color:rgb(224, 226, 225);"> Save</b></a>
                        <a onClick="javascript:history.go(-1)"><b class="btn btn-danger fa fa-arrow-alt-circle-left"> Back</b> </a>
                        </button>                   
                    </div>
                  </div>  

                </div>
              </div>
            </div>

            {% if save == "save" %}
              <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> Success: Item index  saved!
                  <button type="button" class="close" data-dismiss="alert">×</button>
              </div>        
            {% endif %}
                        
            <form id="myform" method="POST" action="{% url 'save_item' %}">
              {% csrf_token %}            
              <div calss="card-body">
                <div class="raw padding">
                    <!-- fields = ['id','itemcode','name','description','brand','category','unit','qty','price','saleprice',]-->
                    <div class="form-group row">
                        <label for="itemcode_tf" class="col-sm-2 col-form-label">Item Code :</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm d"
                                style="text-align: left;" id="itemcode_tf" name="itemcode"
                                step="0.01" value="{{ form.itemcode }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name_tf" class="col-sm-2 col-form-label">Name :</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="name_tf"
                                name="name" value="{{ form.name }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="descriptiom_tf" class="col-sm-2 col-form-label">Description :</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="description_tf"
                                name="description" value="{{ form.description }}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="brand_tf" class="col-sm-2 col-form-label">Brand :</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="brand_tf"
                                name="brand" value="{{ form.brand }}" required>
                        </div>
                    </div>

                    <div class="form-group row" >
                        <label for="category_tf" class="col-sm-2 col-form-label">Category :</label>
                        <div class="col-sm-9" >
                            <select class="form-control select2" id="category_tf"
                                name="category">
                                {% for row in category %}
                                <option value="{{ row.category }}">
                                    {{ row.category }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>
              </div>
            </form>
            <!--<div class="card-body">              
              <div class="row">
                <div class="col-12">  
                  <table id="table_item" class="table table-nowrap table-striped">
                    <thead>
                      <tr>
                        <th style="display: none;"></th>                 
                        <th style="width: 140px;">Name</th>  
                        <th style="width: 70px;">Item Code</th>               
                        <th>Category</th>
                        <th>Brand</th>
                        <th data-type="date" data-format-string="Do MMMM YYYY">Price DateTime</th>
                        <th>Qnty</th>
                        <th>Price</th>
                        <th>SPrice</th>
                        <th style="width: 15px;"></th>         
                        <th style="width: 15px;"></th>             
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>-->
        </div>
      </div>
    </section>

  </div>
</div>


<script type="text/javascript">
  function required()
  {
    var itemcode = document.getElementById("itemcode_tf").value;
    var name = document.getElementById("name_tf").value;
    var description = document.getElementById("description_tf").value;
    var brand = document.getElementById("brand_tf").value;
    var category = document.getElementById("category_tf").value;
    //var unit = document.getElementById("itemcode_tf").value;
    if (itemcode === "")
    {
      alert("Itemcode must be filled out");
      return false;
    }
    else if (name === "")
    {
      alert("Name must be filled out");
      return false;
    }
    else if (description === "")
    {
      alert("Description must be filled out");
      return false;
    }
    else if (brand === "")
    {
      alert("Brand must be filled out");
      return false;
    }
    else if (category === "")
    {
      alert("Category must be filled out");
      return false;
    }
    else 
    {
      "{% url 'save_item' %}"
    }
  }
</script>
{% endblock content %}