{% extends "base/base.html" %}

{% block header %}
{% include 'base/header.html' %}
{% endblock header %}

{% block content %}
<style>
  div.padding {
    /*width: 300px;*/
    padding: 2px;
    /*background-color: lightblue;*/
  }
  

  div.padding_header {    
    padding: 6px;   
  }

  .right_{
    color:rgb(250, 249, 245);
    background-color: black; 
    font-weight: bold; 
    float: right;
  }
</style>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 row center">
          <div class="col-sm-1.5 mr-2">
          </div>
        </div>

      </div>
    </div>
    {% if msg == "Save" %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> Item index successfully saved!
          <button type="button" class="close" data-dismiss="alert">x</button>
      </div>        
    {% endif %}

    <section class="content">
      <div class="row">       
        <div class="col">

          <div class="card card-primary mt-2 text-xs-center">
            <div class="card-header container-fluid padding_header" >              
              <div class="row">  
                <div class="col-sm-1.5 mr-2 ml-3">
                  <a style="font-size: 20px;"> Item Index</a>
                </div>              
                <div class="col row d-flex justify-content-end padding mr-3">        
                    <div class="card-tools">
                      <button  type="button" class="btn btn-tool "  >
                        <a href="{% url 'add' %}"><b style="height: 30px;" class="btn btn-dark fa fa-plus-circle ">  Add Item</b></a>
                      </button>
                      <div class="btn-group "> 
                        <button type="button" class="btn btn-tool btn-dark dropdown-toggle status_label right_"  data-toggle="dropdown">Status</button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-dark" role="menu"> 
                          <a onclick="show_inactive(0)" value="0" class="dropdown-item" style="color:rgb(12, 81, 150);">&nbsp;&nbsp; Active</a>
                          <a onclick="show_inactive(1)" value="1"  class="dropdown-item" style="color:rgb(12, 81, 150);">&nbsp;&nbsp; In-Active</a>
                          <a onclick="show_inactive()" value="2"  class="dropdown-item" style="color:rgb(12, 81, 150);">&nbsp;&nbsp; All Item Index</a>
                          <!--<a href="#"  class="dropdown-item black-text" style="color:rgb(12, 81, 150);">&nbsp;&nbsp; All</a>-->
                        </div>
                      </div>
                    </div>                  
                </div>
              </div>
            </div>
            
            <div class="card-body" style="padding: 8px;">              
              <div class="row">
                <div class="col-12">  
                  <table id="table_item" class="table table-nowrap table-striped">
                    <thead>
                      <tr>
                        <th style="display: none;"></th>                 
                        <th style="width: 140px;">Name</th>  
                        <th style="width: 70px;">Item Code</th>               
                        <th>Category</th>
                        <th>Brand</th>
                        <th data-type="date" data-format-string="Do MMMM YYYY">Price DateTime</th>
                        <th>Unit</th>
                        <th>Qnty</th>
                        <th>Price</th>
                        <th>SPrice</th>
                        <th style="width: 15px;"></th>         
                        <th style="width: 15px;"></th>             
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

  </div>
</div>


<script type="text/javascript">

  function delete_items(id) {

    var ok = confirm('Are you sure to delete this entry?');
    if (ok == true) {
      $.ajax({
        url: "{% url 'delete_items' 0 %}".replace('0', id),
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        contentType: false,
        data: { id: id, },
        success: function (data) {
          if (data == 'deleted') {
            $('table_item').datatable().ajax.reload(null, false);
            // window.location.cd ();
          }
        },
        error: function (e) {
          alert('err: item list 217');
        }
      });
    }
  }

  function show_inactive(e) {
    $('#inactive').val(e);
    /*$('#table2').DataTable().destroy();
    if ($('#ischeck').val() == 0) {
      fetchData('yes',e);
    } else {
      fetchData('no',e);
    }*/
    if (e == 0)
      $('.status_label').html('Active');
    else
      if (e == 1) $('.status_label').html('In-Active');
    else
      $('.status_label').html('All Item Index');
  };

</script>
{% endblock content %}